{% extends 'base.html' %}

{% block content %}
<br/>
<h1>Ready to board yet?</h1>

<div style="padding:20px">
<li>Learn Python <a href="https://www.w3schools.com/python/default.asp">Here </a> </li>
<li>Learn Django Framwork <a href="https://www.djangoproject.com/">Here </a> </li>
<li>Learn Machine Learning <a href="https://learningmachinelearning.org/"> Here </a> </li>
<li>Learn Tensorflow <a href="https://www.tensorflow.org/"> Here </a> </li>
<li>Learn ServiceNow REST API <a href="https://docs.servicenow.com/bundle/madrid-application-development/page/build/applications/concept/api-rest.html"> Here </a> </li>
</div>
{% endblock %}